{% extends 'base.html.twig' %}

{% block title %}EmpruntRetour{% endblock %}

{% block body %}
    <h1>EmpruntRetour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEmpruntRetour</th>
                <td>{{ emprunt_retour.idEmpruntRetour }}</td>
            </tr>
            <tr>
                <th>DateEmprunt</th>
                <td>{{ emprunt_retour.dateEmprunt ? emprunt_retour.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRetour</th>
                <td>{{ emprunt_retour.dateRetour ? emprunt_retour.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EtatRetour</th>
                <td>{{ emprunt_retour.etatRetour }}</td>
            </tr>
        </tbody>
    </table>
 <a href="{{ path('emprunt_retour_edit', {'idEmpruntRetour': emprunt_retour.idEmpruntRetour}) }}" class="btn btn-success btn-sm">Modifier</a>

    {{ include('emprunt_retour/_delete_form.html.twig') }}
    <a href="{{ path('emprunt_retour_index') }}" class="btn btn-primary btn-sm">Retourne à la liste</a>

   
{% endblock %}
