<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Registre</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ asset('inscri/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('inscri/css/style.css')}}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        {% block body %}
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registre</h2>
                        {{ form_start(form) }}   
                            
                                {{ form_row(form.username, { 'attr': { 'placeholder': 'Nom d\'utilisateur...' }}) }}
                            
                                <!--<input type="email" name="email" id="email" placeholder="Your Email"/>-->
                                {{ form_row(form.email, { 'attr': { 'placeholder': 'Adresse email...' } } ) }}
                           
                               <!-- <input type="password" name="pass" id="pass" placeholder="Password"/> -->
                               {{ form_row(form.password, { 'attr': {'placeholder':'Mot de passe...' } }) }}

                           {{ form_row(form.confirm_password, { 'attr':{'placeholder':'Répétez votre mot de passe...' } }) }}

                           <button type="submit" class="btn btn-primary btn-sm">Inscription</button>
                           {{ form_end(form) }}
                       
                    </div>
                    <div class="signup-image">
                        <figure><img src="{{ asset('inscri/images/signup-image.jpg')}}"  alt="sing up image"></figure>
                        <a href="{{ path('security_login') }}" class="signup-image-link">Je suis déjà membre</a>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </div>

    <!-- JS -->
    <script src="{{ asset('inscri/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset('inscri/js/main.js')}}"></script>
</body>
</html>