{% extends 'base.html.twig' %}

{% block title %}Theme index{% endblock %}

{% block body %}
    <h1>List des themes</h1>
 {% for message in app.flashes('success') %}
      <div class="alert alert-success">
      {{ message }}
      </div>
      {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>IdTheme</th>
                <th>DesignTheme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.idTheme }}</td>
                <td>{{ theme.designTheme }}</td>
                <td>
                    <a href="{{ path('theme_show', {'idTheme': theme.idTheme}) }}"><button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Affichier"><i class="fa fa-table"></i></button></a>
                    <a href="{{ path('theme_edit', {'idTheme': theme.idTheme}) }}" > <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-edit"></i></button></a>
                    <a href="{{ path('theme_delete', {'idTheme': theme.idTheme}) }}" class="btn btn-danger fa fa-trash" data-toggle="tooltip" data-placement="top" title="Supprimer"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('theme_new') }}" <button class="btn btn-blue-grey btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Ajouter"><i class="fa fa-user-plus"></i></button></a>
{% endblock %}
